.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #37465b;
  width: 20%;
  height: 50vh;
}

.auth-heading {
  background-color: #e43f5a;
  color: #fff;
  padding: 10px 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.Sign-in-button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b4361;
  border-radius: 10px;
  border: 2px solid #28323f;
  padding: 20px 25px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 80%;
  cursor: pointer;
}
